body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1em;
  line-height: 1.5;
  color: #1a1f36;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

ul {
  list-style: disc;
  padding-inline-start: 40px;
  margin-block-end: 1em;
  margin-block-start: 1em;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.section-curved {
  position: relative;
  overflow: visible;
}

@media (max-width: 1023px) {
  .section-curved {
    height: 60vh;
  }
}

@media (min-width: 1023px) {
  .section-curved {
    max-height: 660px;
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .section-curved {
    height: 100%;
    padding: 20px 0;
  }
}

.section-curved::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  padding-bottom: 2.7vw;
  background-image: url(/curve-white.svg);
  background-position-x: center;
  background-size: 110vw;
}

.hero-diagram {
  position: absolute;
  top: -115px;
  left: calc(50%);
  max-width: 479px;
}

.section-size {
  max-width: 45rem;
  position: relative;
}

.section-hero {
  width: 720px;
  height: 380px;
}

.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.section-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-content p {
  font-size: 1.05rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.65em;
}

@media (max-width: 640px) {
  .section-content p {
    font-size: 1rem;
  }
}

.section-content a {
  color: blue;
}

.section-content a:before,
.section-table a:before {
  opacity: 0;
}

.section-table {
  width: 200px;
}

.section-placeholder {
  width: 200px;
}

.section-sticky {
  position: sticky;
  top: 100px;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
  border-right: 1px solid #e7e7e7;
  overflow-y: auto;
  max-height: 90vh;
  max-height: calc(100vh - 50px - 20px);
}

.section-sticky > div {
  padding: 5px 8px;
}

.section-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-table li {
  padding: 5px 8px;
  line-height: 1.25;
}

.section-table li a {
  font-size: 0.85rem;
  display: block;
  width: 100%;
  color: #333;
}

.section-table li a:hover {
  color: blue;
}

/* direct link - center */
.section-content > a {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  margin: 30px auto;
  width: 100%;
  display: block;
}

.section-content h2 a,
.section-content h3 a {
  color: inherit;
}

.section-content h1 {
  font-weight: 700;
  font-size: 2.6em;
}

@media (max-width: 640px) {
  .section-content h1 {
    font-size: 2.4rem;
  }
}

.section-content h2 {
  font-weight: 700;
  font-size: 2.3em;
}

@media (max-width: 640px) {
  .section-content h2 {
    font-size: 1.9rem;
  }
}

.section-content h3 {
  font-weight: 500;
  font-size: 1.8em;
  margin: 1.5rem 0 1rem;
}

@media (max-width: 640px) {
  .section-content h3 {
    font-size: 1.6rem;
  }
}

.section-content h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
}

@media (max-width: 640px) {
  .section-content h4 {
    font-size: 1.2rem;
  }
}

.section-content img {
  margin: 40px auto;
}

@media (max-width: 640px) {
  .section-content blockquote p {
    font-size: 1rem;
  }
}

.section-content p strong,
.section-content p b {
  font-weight: 600;
}

.section-content h1,
.section-content h2 {
  margin: 1.85rem 0 1.5rem;
  line-height: 1.4;
}

.section-content ol,
.section-content ul {
  margin: 0.75rem 0;
  padding-left: 1.75rem;
}

.section-content li {
  font-size: 1.05rem;
  margin-bottom: 5px;
}

.section-content li p {
  margin: 0;
  line-height: inherit;
  display: contents;
}

@media (max-width: 640px) {
  .section-content li {
    font-size: 1rem;
  }
}

.section-content ol > li {
  list-style-type: decimal;
  margin-bottom: 0;
}

.list-item-icon {
  padding: 5px;
}

/* Quote */
.section-content > blockquote > p {
  border-left: 2px solid #3146ec;
  font-style: italic;
  padding-left: 20px;
  margin: 0;
  line-height: 2em;
  font-style: italic;
  font-size: 1rem;
}

/* Note */
.section-content > blockquote > blockquote > p {
  background-color: #fff3c7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1.5px 1px #feda55;
  margin: 20px auto;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.9rem;
}
