.answer {
  padding-top: 6px;
  padding-bottom: 20px;
  height: auto;
  overflow: hidden;
}

.collapsed {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.chevron {
  transition: all 0.35s;
}

.rotated {
  transform: rotate(90deg);
}

.menu {
  padding-inline-start: 20px;
}

.menu > ol {
  margin-bottom: 5px;
}

.notTop {
  border-top: none;
}

.top {
  border-radius: 5px 5px 0 0;
}

.last {
  border-radius: 0 0 5px 5px;
}
